:root{
    --media-color: linear-gradient(black, white)
}

*{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

body{
    font-family: 'Fauna One', serif;
    background-image: url('wallpaperflare.com_wallpaper.jpg.png');
}

.container{
    height: 800px;
    width: 600px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 28px;
    background-color: rgba(0,0,0,0.9);
    overflow: hidden;
    z-index: 0;
    animation: startContainer 3s;
}

.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-left: 3px solid beige;
    border-right: 3px solid beige;
    border-top: 3px solid beige;
    border-radius: 50%;
    animation: startLogo 3.2s;
}

footer{
    font-size: 17px;
    position: absolute;
    top:96%;
    color: white;
    left: 44%;
}

.title{
    font-size: 2.6em;
    position: absolute;
    top: 15%;
    left: 35.7%;
}

h1{
    font-family: Cinzel, serif;
}

.inputs{
    position: absolute;
    top:19%;
    left: -8%;
    width: 700px;
    text-align: center;
    height: 610px;
    padding-top: 25px;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid beige;
    color: white;
    font-family: 'Fauna One', serif;
    width: 300px;
    padding-bottom: 3px;
    font-size: 18px;
}

input:focus{
    outline: none;
    border-bottom: 2px solid #3F88C5;
}

.submit{
    position: absolute;
    top: 74%;
    left: 28.6%;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 2px solid wheat;
    color: wheat;
    width: 300px;
    padding: 5px;
    height: 50px;
    font-size: 18px;
    font-family: 'Fauna One', serif;
    font-weight: bold;
}

.submit:hover{
    background-color: wheat;
    color: black;
}

.fa-google{
    position: absolute;
    top: 84%;
    left: 28.6%;
    width: 145px;
    height: 50px;
    padding-top: 7px;
    border: 2px solid #d14a3e;
    cursor: pointer;
}

.fa-facebook{
    position: absolute;
    top: 84%;
    left: 50.9%;
    width: 145px;
    height: 50px;
    padding-top: 7px;
    border: 2px solid #0778e8;
    cursor: pointer;
}

.fa-facebook:hover{
    color: black;
    background-color: #0778e8;
}

.fa-google:hover{
    color: black;
    background-color: #d14a3e;
}

.bottom-part{
    position: absolute;
    top: 94.5%;
    left: 29%;
}

.bottom-part > a{
    text-decoration-color: wheat;
    color: wheat;
}

.bottom-part > a:hover{
    text-decoration: none;
}   

.fa-user{
    position: absolute;
    left: 24%;
    top: 11.1%;
    font-size: 25px;
}

.user{
    position: absolute;
    left: 24%;
    top: 28.9%;
    font-size: 25px;
}

.fa-unlock{
    position: absolute;
    top: 46.7%;
    font-size: 25px;
    left: 24%;
}

.unlock{
    position: absolute;
    top: 64.5%;
    font-size: 25px;
    left: 24%;
}

@media screen and (max-width:360px) {
    body{
        background-image: url('media_query.jpg');
        width: 100%;
        position: absolute;
        overflow: hidden;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }

    .container{
        width: 300px;
        height: 576px;
        top: 52%;
        animation: mediaContainer360px 3s;
    }

    .fa-solid{
        opacity: 0;
    }

    .logo{
        top: 9%;
        animation: mediaLogo360px 3.2s;
        width: 125px;
        height: 125px;
    }

    .title{
        left: 92px;
        top: 15.5%;
        font-size: 27px;
    }

    .inputs{
        left: -200px;
        top: 23%;
        padding: 0px;
        font-size: 10px;
    }

    input{
        width: 230px;
    }

    .fa-facebook{
        background-color: #0778e8;
        color: black;
        width: 112.5px;
        left: 352px;
        top: 60%;
        height: 40px;
    }

    .fa-google{
        background-color: #d14a3e;
        color: black;
        width: 112.5px;
        left: 235px;
        top: 60%;
        height: 40px;
        font-size: 80px;
    }

    .submit{
        color: black;
        background-color: wheat;
        width: 230px;
        left: 235px;
        top: 50%;
    }

    .bottom-part{
        font-size: 13px;
        left: 235px;
        top: 68%;
    }

    footer{
        position: absolute;
        top: 96.7%;
        width: 300px;
        left: 16%;
    }

}

@keyframes mediaLogo360px {
    0%{
        top: -40%;
    }

    100%{
        top: 9%;
    }
    
}

@keyframes mediaContainer360px {
    0%{
        height: 0%;
    }

    100%{
        height: 576px;
    }
}

@keyframes startContainer{
    0%{
        height: 0%;
    }

    100%{
        height: 800px;
    }
}

@keyframes startLogo{
    0%{
        position: absolute;
        top: -40%;
    }

    100%{
        position: absolute;
        top: 10%;
    }
}

@keyframes startSubmit{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}